@model NZNA.Areas.Admin.Models.Aboutpage
    @using NZNA.Models;
@{ 
    ApplicationDbContext db = new ApplicationDbContext();
    var about = db.Aboutpages.SingleOrDefault();
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="welcome-sec">
    <div class="container">
        <div class="row">
            @Html.Partial("_Saugat")
            <div class="col-lg-6 col-md-4 col-sm-6">
                <div class="weltext">
                    <h2>Welcome to   <span>New Zealand Nepal Society!</span></h2>
                    <p class="midtext">Namaste and Kia Ora!</p>
                    @try
                    {
                        <p>@Html.Raw(about.Description) </p>
                    }
                    catch
                    {
                        <p>No description!</p>
                    }

                    @*@try
                    {
                        @Html.Raw(Model.Description)
                    }
                    catch
                    {
                        <p>No Description</p>
                    }*@

                    @*<div class="shopping-cart-form">
            <div class="shopping-cart-form-right">
                <div class="payment-button">
                    <a href="/home/ExecutiveCommitte">Current Executive Members</a>
                    <a href="/home/PastExecutive">Past Executive Members</a>
                </div>
            </div>
        </div>*@
                    <div class="login-social">
                        <ul>
                            <li> <b><a class="fb" href="/home/ExecutiveCommitte">Current Executive Members >></a> </b></li>
                            <li> <b><a class="gp" href="/home/PastExecutive"><< Past Executive Members</a> </b></li>

                        </ul>

                    </div>
                </div>


            </div>
            @Html.Partial("_LocalBusiness")


        </div>

    </div>

</div>


