@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="cart-page-area sec-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="cart-page">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="t-center">Member</th>
                                    <th class="t-center">Full Name</th>
                                    <th class="t-center">Email</th>
                                    <th class="t-center">Address</th>
                                    @*<th class="t-center">Total</th>
                                    <th class="t-center">Cart</th>
                                    <th class="t-center">Remove</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="t-center name">
                                        1
                                    </td>
                                    <td class="t-center name"><a href="#">Full name Here</a></td>
                                    <td class="t-center name"><a href="#">Email Address</a></td>
                                    <td class="t-center name">Physical Address</td>

                                </tr>
                                <tr>
                                    <td class="t-center name">
                                        2
                                    </td>
                                    <td class="t-center name"><a href="#">Full name Here</a></td>
                                    <td class="t-center name"><a href="#">Email Address</a></td>
                                    <td class="t-center name">Physical Address</td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="clearfix"></div>
                    <div class="table-button-area">
                        <div class="table-button-left">
                            <div class="button-area">
                                <button class="button" type="button">Last Page</button>
                            </div>
                        </div>
                        <div class="table-button-right">
                            <ul>
                                <li>
                                    <div class="button-area">
                                        <button class="button" type="button">Previous</button>
                                    </div>
                                </li>
                                <li>
                                    <div class="button-area">
                                        <button class="button" type="button">Next</button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>