@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="cart-page-area sec-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="cart-page">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="t-center">Products</th>
                                    <th class="t-center big-td">Name of products</th>
                                    <th class="t-center">Price</th>
                                    <th class="t-center">Quantity</th>
                                    <th class="t-center">Total</th>
                                    <th class="t-center">Cart</th>
                                    <th class="t-center">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="t-center big-td">
                                        <a href="single-product.html"><img class="shop-image" alt="Special" src="~/Contents/images/shop/cart1.jpg"></a>
                                    </td>
                                    <td class="t-center name"><a href="#">Product Title Here</a></td>
                                    <td class="t-center name"><a href="#">$128.00</a></td>
                                    <td class="t-center name">$178.00</td>
                                    <td class="a-center t-center">
                                        <input class="input-text qty" placeholder="1">
                                    </td>
                                    <td class="t-center name">$135.00</td>
                                    <td class="t-center"><i class="fa fa-trash"></i></td>
                                </tr>
                                <tr>
                                    <td class="t-center big-td">
                                        <a href="single-product.html"><img class="shop-image" alt="Special" src="~/Contents/images/shop/cart2.jpg"></a>
                                    </td>
                                    <td class="t-center name"><a href="#">Product Title Here</a></td>
                                    <td class="t-center name"><a href="#">$128.00</a></td>
                                    <td class="t-center name">$155.00</td>
                                    <td class="a-center t-center">
                                        <input class="input-text qty" placeholder="1">
                                    </td>
                                    <td class="t-center name">$128.00</td>
                                    <td class="t-center"><i class="fa fa-trash"></i></td>
                                </tr>
                                <tr>
                                    <td class="t-center big-td">
                                        <a href="single-product.html"><img class="shop-image" alt="Special" src="~/Contents/images/shop/cart3.jpg"></a>
                                    </td>
                                    <td class="t-center name"><a href="#">Product Title Here</a></td>
                                    <td class="t-center name"><a href="#">$128.00</a></td>
                                    <td class="t-center name">$155.00</td>
                                    <td class="a-center t-center">
                                        <input class="input-text qty" placeholder="1">
                                    </td>
                                    <td class="t-center name">$128.00</td>
                                    <td class="t-center"><i class="fa fa-trash"></i></td>
                                </tr>
                                <tr>
                                    <td class="t-center big-td">
                                        <a href="single-product.html"><img class="shop-image" alt="Special" src="~/Contents/images/shop/cart4.jpg"></a>
                                    </td>
                                    <td class="t-center name"><a href="#">Product Title Here</a></td>
                                    <td class="t-center name"><a href="#">$128.00</a></td>
                                    <td class="t-center name">$155.00</td>
                                    <td class="a-center t-center">
                                        <input class="input-text qty" placeholder="1">
                                    </td>
                                    <td class="t-center name">$128.00</td>
                                    <td class="t-center"><i class="fa fa-trash"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="clearfix"></div>
                    <div class="table-button-area">
                        <div class="table-button-left">
                            <div class="button-area">
                                <button class="button" type="button">Continue Shopping</button>
                            </div>
                        </div>
                        <div class="table-button-right">
                            <ul>
                                <li>
                                    <div class="button-area">
                                        <button class="button" type="button">Update</button>
                                    </div>
                                </li>
                                <li>
                                    <div class="button-area">
                                        <button class="button" type="button">Checkout</button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>