@{
    ViewBag.Title = "Contact";
}

<!--Page Info end-->
<!-- contect-page-section -->
<section class="contact-section">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Column-->
            <div class="column col-md-7 col-sm-6 col-xs-12">
                <h2>Send Us Message</h2>
                <div class="contact-form default-form">
                    <form method="post" action="#" id="contact-form" novalidate="novalidate">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <input name="username" value="" placeholder="Username" type="text">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <input name="email" value="" placeholder="Email" type="email">
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                    <input name="phone" value="" placeholder="Phone Number" type="text">
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                    <textarea name="message" placeholder="Message"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <button type="submit" class="btn-one">SEND</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--Column-->
            <div class="column col-md-5 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <h2>Our Address</h2>
                    <div class="text">
                        Lorem ipsum dolor sit amet, placerat corrumpit eum ei. Qui id illum nullam volutpat, vix te posse malis viri. Mei ludus nusquam elaboraret ex an.
                    </div>
                    <div class="contact-info">
                        <ul>
                            <li>
                                <span class="icon fa fa-map-marker"></span>
                                <h3>Address</h3> 20c Avenue, lakepool, USA
                            </li>
                            <li>
                                <span class="icon fa fa-envelope"></span>
                                <h3>Email</h3> smaple@gmail.com
                            </li>
                            <li>
                                <span class="icon fa fa-volume-control-phone"></span>
                                <h3>PHONE</h3> (+01) 123 456 7896, (+01) 123 456 7899
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>