@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="blog-home sec-padding blog-page blog-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12 pull-left">
                <div class="single-blog-post">
                    <div class="img-box">
                        <img src="images/resource/blog-image-5.jpg" alt="">
                        @*<div class="date">
                            <b>24</b> apr
                        </div>*@
                    </div>
                    <div class="content-box">
                        <div class="content">
                            <h3>Lates blog post with image</h3>
                            <p>Lorem ipsum dolor sit amet, his ea unum ponderum, detracto ponderum an vim. Equidem evertitur vel ea, has ad inermis principes. Mentitum appareat conceptam id quo. Vis evertitur referrentur ad, no laoreet consetetur reformidans pro, sit habeo omnes eu. </p>
                            <br>
                            <p> Iisque quaeque propriae has no. Modo blandit tincidunt ne eos, diam periculis disputationi usu cu. Ea eos suscipit expetendis. Vix ea quot modus, id novum vocibus pro. Nec autem ullum albucius no, vel ne tritani omnesque omittantur. Pro fierent hendrerit assueverit et, per quod luptatum comprehensam in.</p>
                            <br>
                            <p> No consulatu comprehensam nam. Ferri dolore sententiae te eum, nibh dictas definitiones mea ei. Nec cu augue dicunt, est id verear labitur necessitatibus. Salutandi quaerendum ex nec.</p>
                            <br>
                            <p> Cu quo audire apeirian. Dolore necessitatibus sea id, nihil mandamus an ius, per recusabo interesset reprehendunt ea. In vix autem vituperatoribus, mei sint ipsum dolorem ex, quodsi vitupera</p>
                            <div class="bottom-box clearfix">
                                <span class="pull-left">By  <a href="#">Admin</a></span>
                                <ul class="pull-right share">
                                    <li><span>Share: </span></li>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comment-box">
                    <div class="title">
                        <h2>2 Comments</h2>
                    </div>
                    <div class="single-comment-box">
                        <div class="img-box">
                            <div class="inner-box">
                                <img src="images/resource/comment.jpg" alt="">
                            </div>
                        </div>
                        <div class="content-box">
                            <h3>Jhon Chena</h3>
                            <div class="meta-box clearfix">
                                <span class="pull-left">24 Feb, 2015 at 2:40pm</span>
                                <a href="#" class="reply pull-right">Reply</a>
                            </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lore Ipsum has been the eloi industry's standard dummy text ever since the 1500s,</p>
                        </div>
                    </div>
                    <div class="single-comment-box reply-comment">
                        <div class="img-box">
                            <div class="inner-box">
                                <img src="images/resource/comment1.jpg" alt="">
                            </div>
                        </div>
                        <div class="content-box">
                            <h3>Jhon Chena</h3>
                            <div class="meta-box clearfix">
                                <span class="pull-left">24 Feb, 2015 at 2:40pm</span>
                                <a href="#" class="reply pull-right">Reply</a>
                            </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lore Ipsum has been the eloi industry's standard dummy text ever since the 1500s,</p>
                        </div>
                    </div>
                    <div class="single-comment-box">
                        <div class="img-box">
                            <div class="inner-box">
                                <img src="images/resource/comment2.jpg" alt="">
                            </div>
                        </div>
                        <div class="content-box">
                            <h3>Jhon Chena</h3>
                            <div class="meta-box clearfix">
                                <span class="pull-left">24 Feb, 2015 at 2:40pm</span>
                                <a href="#" class="reply pull-right">Reply</a>
                            </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lore Ipsum has been the eloi industry's standard dummy text ever since the 1500s,</p>
                        </div>
                    </div>
                    <div class="single-comment-box reply-comment">
                        <div class="img-box">
                            <div class="inner-box">
                                <img src="images/resource/comment3.jpg" alt="">
                            </div>
                        </div>
                        <div class="content-box">
                            <h3>Jhon Chena</h3>
                            <div class="meta-box clearfix">
                                <span class="pull-left">24 Feb, 2015 at 2:40pm</span>
                                <a href="#" class="reply pull-right">Reply</a>
                            </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lore Ipsum has been the eloi industry's standard dummy text ever since the 1500s,</p>
                        </div>
                    </div>
                </div>
                <div class="comment-form contact-content">
                    <h2>Leave a Comment</h2>
                    <form action="#" class="contact-form row" id="contact-page-contact-form" novalidate="novalidate">
                        <div class="col-md-6">
                            <input name="name" placeholder="Name" type="text">
                            <input name="email" placeholder="Email" type="text">
                            <input name="phone" placeholder="Phone" type="text">
                        </div>
                        <div class="col-md-6">
                            <textarea name="message" placeholder="Message" cols="30" rows="10"></textarea>
                        </div>
                        <div class="col-md-12">
                            <button class="btn-two" type="submit">Send</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12">
                @Html.Partial("_LocalBusiness")
            </div>
        </div>
    </div>
</section>