@using NZNA.Models;
@{ 
    ApplicationDbContext db = new ApplicationDbContext();
    var excommembers = db.CurrentExComMembers.ToList();
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Executive Committe";
}


<section class="ourteam ourteampage bggray sec-padding">
    <div class="container">
        <div class="row">

            @foreach (var items in excommembers)
            {
                <div class="col-md-3 col-sm-6">
                    <div class="teamwrp">
                        <div class="teamimg figure">
                            <img src="@items.ImageUrl" alt="@items.Name">
                            @*<div class="imagemask">
                                <div class="project-info vert-mdl">
                                    <nav>
                                        <a href="#" class="navicon"><i class="fa fa-facebook"></i></a>
                                        <a href="#" class="navicon"><i class="fa fa-twitter"></i></a>
                                        <a href="#" class="navicon"><i class="fa fa-envelope"></i></a>
                                    </nav>
                                </div>
                            </div>*@
                        </div>
                        <div class="teaminfo">
                            <h3>@items.Name</h3>
                            <p>@items.Position</p>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</section>
