@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="ourteam ourteampage bggray sec-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="teamwrp">
                    <div class="teamimg figure">
                        <img src="images/resource/team1.jpg" alt="image">
                        <div class="imagemask">
                            <div class="project-info vert-mdl">
                                <nav>
                                    <a href="#" class="navicon"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="navicon"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="navicon"><i class="fa fa-envelope"></i></a>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="teaminfo">
                        <h3>Justin W. Tuck</h3>
                        <p>Founder</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="teamwrp">
                    <div class="teamimg figure">
                        <img src="images/resource/team2.jpg" alt="image">
                        <div class="imagemask">
                            <div class="project-info vert-mdl">
                                <nav>
                                    <a href="#" class="navicon"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="navicon"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="navicon"><i class="fa fa-envelope"></i></a>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="teaminfo">
                        <h3>Michale John</h3>
                        <p>Gardener</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="teamwrp">
                    <div class="teamimg figure">
                        <img src="images/resource/team3.jpg" alt="image">
                        <div class="imagemask">
                            <div class="project-info vert-mdl">
                                <nav>
                                    <a href="#" class="navicon"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="navicon"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="navicon"><i class="fa fa-envelope"></i></a>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="teaminfo">
                        <h3>Kathryn D. Grace</h3>
                        <p>Senior Worker</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="teamwrp">
                    <div class="teamimg figure">
                        <img src="images/resource/team4.jpg" alt="image">
                        <div class="imagemask">
                            <div class="project-info vert-mdl">
                                <nav>
                                    <a href="#" class="navicon"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="navicon"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="navicon"><i class="fa fa-envelope"></i></a>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="teaminfo">
                        <h3>Pedro C. Vinson</h3>
                        <p>Founder</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="teamwrp">
                    <div class="teamimg figure">
                        <img src="images/resource/team5.jpg" alt="image">
                        <div class="imagemask">
                            <div class="project-info vert-mdl">
                                <nav>
                                    <a href="#" class="navicon"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="navicon"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="navicon"><i class="fa fa-envelope"></i></a>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="teaminfo">
                        <h3>James Obrien</h3>
                        <p>Founder</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="teamwrp">
                    <div class="teamimg figure">
                        <img src="images/resource/team6.jpg" alt="image">
                        <div class="imagemask">
                            <div class="project-info vert-mdl">
                                <nav>
                                    <a href="#" class="navicon"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="navicon"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="navicon"><i class="fa fa-envelope"></i></a>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="teaminfo">
                        <h3>Shamia Afroz</h3>
                        <p>Founder</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="teamwrp">
                    <div class="teamimg figure">
                        <img src="images/resource/team7.jpg" alt="image">
                        <div class="imagemask">
                            <div class="project-info vert-mdl">
                                <nav>
                                    <a href="#" class="navicon"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="navicon"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="navicon"><i class="fa fa-envelope"></i></a>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="teaminfo">
                        <h3>Sarah McNeal</h3>
                        <p>Founder</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="teamwrp">
                    <div class="teamimg figure">
                        <img src="images/resource/team8.jpg" alt="image">
                        <div class="imagemask">
                            <div class="project-info vert-mdl">
                                <nav>
                                    <a href="#" class="navicon"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="navicon"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="navicon"><i class="fa fa-envelope"></i></a>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="teaminfo">
                        <h3>Angle Mithila</h3>
                        <p>Founder</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
