@{
    ViewBag.Title = "Home Page";
}
@using System.Web.Routing;
  @Html.Partial("_banner")
<div class="welcome-sec">
    <div class="container">
        <div class="row">
            @Html.Partial("_Saugat")
            <div class="col-lg-6 col-md-4 col-sm-6">
                <div class="weltext">
                    <h2>Welcome to <span>New Zealand Nepal Society!</span></h2>
                    <p class="midtext">Namaste and Kia Ora!</p>
                    <p>The ascent of Mt. Everest by Sir Edmund Hillary and Tenzing Norgay on Friday 29 May 1953 has contributed to establish a benchmark to bring the two countries together intimately, resulting to close cooperation not only on the governmental level but also individually and sentimentally. New Zealand and Nepal are partners in trade, tourism, academic and professional fields. Number of Nepalis residing in New Zealand has gradually increased since 1980’s. <a href="#">Read More...</a></p>
                  
                </div>
                <div class="clearfix"></div>
                <div class="weltext">
                    <div class="single-blog-post">
                        
                        <div class="content-box">
                            <div class="content">
                                <a href="#"><h3>Lates blog post with image</h3></a>
                                <div class="entry-meta">
                                    <ul class="list-inline">
                                        <li><a href="#"><i class="fa fa-user"></i>2nd March 2017</a></li>
                                      
                                    </ul>
                                </div>
                                <p>Lorem ipsum dolor sit amet, his ea unum ponderum, detracto ponderum an vim...</p>
                               
                            </div>
                            <div class="img-box">
                                <img src="~/Contents/images/resource/blog-image-5.jpg" alt="">
                                @*<div class="date">
                                    <b>24</b> apr
                                </div>*@
                            </div>
                            <div class="bottom-box clearfix">
                                <a href="blog-single.html" class="blogbtn">Read More &nbsp;<i class="icon fa fa-long-arrow-right"></i></a>
                                <ul class="pull-right share">
                                    <li><span>Share: </span></li>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                    <div class="single-blog-post">

                        <div class="content-box">
                            <div class="content">
                                <a href="#"><h3>Lates blog post without image</h3></a>
                                <div class="entry-meta">
                                    <ul class="list-inline">
                                        <li><a href="#"><i class="fa fa-user"></i>27th Jan 2017</a></li>
                                       
                                    </ul>
                                </div>
                                <p>Lorem ipsum dolor sit amet, his ea unum ponderum, detracto ponderum an vim...</p>

                            </div>
                            <div class="bottom-box clearfix">
                                <a href="blog-single.html" class="blogbtn">Read More &nbsp;<i class="icon fa fa-long-arrow-right"></i></a>
                                <ul class="pull-right share">
                                    <li><span>Share: </span></li>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                       
                      
                    </div>  
                </div>
            </div>

            @Html.Partial("_LocalBusiness")
            
        </div>
        
    </div>

</div>

