@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="cart-page-area sec-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="cart-page">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="t-center">Products</th>
                                    <th class="t-center big-td">Name of products</th>
                                    <th class="t-center">Price</th>
                                 
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="t-center big-td">
                                        <a href="single-product.html"><img class="shop-image" alt="Special" src="~/Contents/images/shop/cart1.jpg"></a>
                                    </td>
                                    <td class="t-center name"><a href="#">Product Title Here</a></td>
                                    <td class="t-center name"><a href="#">$128.00</a></td>
                                   
                                </tr>
                              
                            </tbody>
                        </table>
                    </div>
                    <div class="clearfix"></div>
                    <div class="table-button-area">
                        <div class="table-button-left">
                            <div class="button-area">
                                <button class="button" type="button">Previous Page</button>
                            </div>
                        </div>
                        <div class="table-button-right">
                            <ul>
                                <li>
                                    <div class="button-area">
                                        <button class="button" type="button">Next Page</button>
                                    </div>
                                </li>
                                <li>
                                    <div class="button-area">
                                        <button class="button" type="button">Last Page</button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>

