@using NZNA.Models;
@{ 
    ApplicationDbContext db = new ApplicationDbContext();
    var pastmember = db.PastExComMembers.Where(x=>x.DelFlg==false).ToList();
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Past Members";
}

<section class="cart-page-area sec-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="cart-page">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="t-center">Year</th>
                                    <th class="t-center">Position</th>
                                    <th class="t-center">Name</th>
                                 
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var items in pastmember)
                                {
                                <tr>
                                    <td class="t-center">
                                        @items.Year
                                    </td>
                                    -
                                    <td class="t-center name"><a href="#">@items.Position</a></td>
                                    <td class="t-center name"><a href="#">@items.Name</a></td>

                                </tr>
                                }
                                
                                

                            </tbody>
                        </table>
                    </div>
                    <div class="clearfix"></div>
                    <div class="table-button-area">
                        <div class="table-button-left">
                            <div class="button-area">
                                <button class="button" type="button">Previous Page</button>
                            </div>
                        </div>
                        <div class="table-button-right">
                            <ul>
                                <li>
                                    <div class="button-area">
                                        <button class="button" type="button">Next Page</button>
                                    </div>
                                </li>
                                <li>
                                    <div class="button-area">
                                        <button class="button" type="button">Last Page</button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>

