<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>New Zealand Nepal Society</title>
    <!-- Stylesheets -->
    <!-- bootstrap v3.3.6 css -->
    <link href="~/Contents/css/bootstrap.css" rel="stylesheet">
    <!-- font-awesome css -->
    <link href="~/Contents/css/font-awesome.css" rel="stylesheet">
    <!-- flaticon css -->
    <link href="~/Contents/css/flaticon.css" rel="stylesheet">
    <!-- animate css -->
    <link href="~/Contents/css/animate.css" rel="stylesheet">
    <!-- owl.carousel css -->
    <link href="~/Contents/css/owl.css" rel="stylesheet">
    <!-- fancybox css -->
    <link href="~/Contents/css/jquery.fancybox.css" rel="stylesheet">
    <link href="~/Contents/css/hover.css" rel="stylesheet">
    <!-- style css -->
    <link href="~/Contents/css/style.css" rel="stylesheet">
    <!-- revolution slider css -->
    <link rel="stylesheet" type="text/css" href="~/Contents/css/revolution/settings.css">
    <link rel="stylesheet" type="text/css" href="~/Contents/css/revolution/layers.css">
    <link rel="stylesheet" type="text/css" href="~/Contents/css/revolution/navigation.css">
    <!--Favicon-->
    <link rel="shortcut icon" href="~/Contents/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/Contents/images/favicon.ico" type="image/x-icon">
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Contents/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="~/Contents/js/respond.js"></script><![endif]-->
</head>
<body>
    <div class="page-wrapper">
        <!-- Preloader -->
        <div class="preloader"></div>
        <!-- Main Header -->
        <header class="site-header headerfirst">
            <!-- Header Top -->
            
            <img src="/Contents/images/background/Nepal.png" style="width:100%; margin-top: -1px;">
            <!-- Header Top End -->
            <!--Header-Main-->
            <div class="header-main">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="logo">
                                <a href="index.html"><img src="~/Contents/images/logo.png" alt="logo"></a>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="header-info">
                                <ul>
                                    <li>
                                        <div class="hdbox-left">
                                            <span class="flaticon-phone-call"></span>
                                        </div>
                                        <div class="hdbox-right">
                                            <span>Call Us</span>+64 2200000
                                        </div>
                                    </li>
                                    <li>
                                        <div class="hdbox-left">
                                            <span class="flaticon-location"></span>
                                        </div>
                                        <div class="hdbox-right">
                                            <span>Our office</span> Ferndale House, New North Road, Auckland
                                        </div>
                                    </li>
                                    <li>
                                        <div class="hdbox-left">
                                            <span class="flaticon-time"></span>
                                        </div>
                                        <div class="hdbox-right">
                                            <span>Email</span> contact@nznepalsociety.com
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--Header-Lower-->
            <div class="header-lower">
                <div class="container">
                    <div class="nav-outer clearfix">
                        <!-- Main Menu -->
                        <nav class="main-menu">
                            <div class="navbar-header">
                                <!-- Toggle Button -->
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation clearfix">
                                    <li>
                                        <a href="#">Home</a>
                                       
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">About Us</a>
                                        <ul>
                                            <li><a href="about-us.html">About NZNS</a></li>
                                            <li><a href="our-team.html">Executive Committee</a></li>
                                            <li><a href="faq-page.html">Past Executive Committees</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">Members</a>
                                        <ul>
                                            <li><a href="all-services.html">Info</a></li>
                                            <li><a href="meterial-engineering.html">Status</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">Events</a>
                                        <ul>
                                            <li><a href="projects-three-column.html">Upcoming Events</a></li>
                                            <li><a href="projects-four-column.html">Past Events</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Contact Us</a>
                                     </li>
                                    <li>
                                        <a href="#">Donate</a>
                                       
                                    </li>
                                    <li><a href="contact.html">Resources</a></li>
                                </ul>
                            </div>
                        </nav>
                        <!-- Main Menu End-->
                        <!--Searchbox-->
                        <div class="srchbox1">
                            <ul class="menusearch">
                                <li>
                                    <div class="bz_search_bar">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </div>
                                    <div class="bz_search_box">
                                        <input placeholder="Search here" type="text">
                                        <button><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!--Quote Button-->
                        <div class="btn-outer">
                            
                        </div>
                    </div>
                </div>
            </div>
            <!--Sticky Header-->
            <div class="sticky-header">
                <div class="auto-container clearfix">
                    <!--Logo-->
                    <div class="logo pull-left">
                        <a href="index.html" class="img-responsive"><img src="~/Contents/images/logo-small.png" alt="Transpo" title="Transpo"></a>
                    </div>
                    <!--Right Col-->
                    <div class="right-col pull-right">
                        <!-- Main Menu -->
                        <nav class="main-menu">
                            <div class="navbar-header">
                                <!-- Toggle Button -->
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation clearfix">
                                    <li>
                                        <a href="#">Home</a>

                                    </li>
                                    <li class="dropdown">
                                        <a href="#">About Us</a>
                                        <ul>
                                            <li><a href="about-us.html">About NZNS</a></li>
                                            <li><a href="our-team.html">Executive Committee</a></li>
                                            <li><a href="faq-page.html">Past Executive Committees</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">Members</a>
                                        <ul>
                                            <li><a href="all-services.html">Info</a></li>
                                            <li><a href="meterial-engineering.html">Status</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">Events</a>
                                        <ul>
                                            <li><a href="projects-three-column.html">Upcoming Events</a></li>
                                            <li><a href="projects-four-column.html">Past Events</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Contact Us</a>
                                    </li>
                                    <li>
                                        <a href="#">Donate</a>

                                    </li>
                                    <li><a href="contact.html">Resources</a></li>
                                </ul>
                            </div>
                        </nav>
                        <!-- Main Menu End-->
                        <!--Searchbox-->
                        <ul class="menusearch">
                            <li>
                                <div class="bz_search_bar">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </div>
                                <div class="bz_search_box">
                                    <input placeholder="Search here" type="text">
                                    <button><i class="fa fa-search" aria-hidden="true"></i></button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--End Sticky Header-->
        </header>
        <!-- Main Header end -->
        <!--Main Slider-->      

       
        <!--Main Slider  end-->
       @RenderBody()
        <!-- footer section -->
        <footer class="footer1">
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8">
                            Copyright &copy; 2017.
                            <br class="visible-xs"> All rights reserved.
                        </div>
                        <div class="text-right col-sm-4">
                            <div class="social-links clearfix">
                                <a href="#"><span class="fa fa-facebook-f"></span></a>
                                </div>

                            </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer section end -->
    </div>
    <!--End pagewrapper-->
    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target=".site-header"><span class="icon fa fa-long-arrow-up"></span></div>
    <!-- jquery Liabrary -->
    <script src="~/Contents/js/jquery-1.12.4.min.js"></script>
    <!-- bootstrap v3.3.6 js -->
    <script src="~/Contents/js/bootstrap.min.js"></script>
    <!-- fancybox js -->
    <script src="~/Contents/js/jquery.fancybox.pack.js"></script>
    <script src="~/Contents/js/jquery.fancybox-media.js"></script>
    <!-- owl.carousel js -->
    <script src="~/Contents/js/owl.js"></script>
    <!-- counter js -->
    <script src="~/Contents/js/jquery.appear.js"></script>
    <script src="~/Contents/js/jquery.countTo.js"></script>
    <!-- mixitup js -->
    <script src="~/Contents/js/mixitup.js"></script>
    <!-- validate js -->
    <script src="~/Contents/js/validate.js"></script>
    <!-- gmap js -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHzPSV2jshbjI8fqnC_C4L08ffnj5EN3A"></script>
    <script src="~/Contents/js/gmap.js"></script>
    <script src="~/Contents/js/map-helper.js"></script>
    <!-- REVOLUTION JS FILES -->
    <script type="text/javascript" src="~/Contents/js/revolution/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="~/Contents/js/revolution/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="~/Contents/js/revolution/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="~/Contents/js/revolution/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="~/Contents/js/revolution/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="~/Contents/js/revolution/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="~/Contents/js/revolution/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="~/Contents/js/revolution/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="~/Contents/js/revolution/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="~/Contents/js/revolution/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="~/Contents/js/revolution/extensions/revolution.extension.video.min.js"></script>
    <!-- script JS  -->
    <script src="~/Contents/js/script.js"></script>
</body>

<!-- Mirrored from scriptdaddy.net/graphicrajkumar/gardenart_theme/index-3.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 20 Aug 2017 10:54:14 GMT -->
</html>