
<div class="col-lg-3 col-md-4 col-sm-6">
    <aside class="sidebar">
        <div class="widget sidebar-widget styled-nav">
            <div class="sidebar-title">
                <h2>Local Businesses</h2>
            </div>
            <nav class="nav-outer">
                <ul>
                    <li>
                        <a class="hvr-shutter-in-horizontal" href="#">
                            <b>Eagle Eye Limited</b> <br /> Phone: 0000000000
                        </a>
                    </li>
                    <li>
                        <a class="hvr-shutter-in-horizontal" href="#">
                            <b>Eagle Eye Limited</b> <br /> Phone: 0000000000
                        </a>
                    </li>
                    <li>
                        <a class="hvr-shutter-in-horizontal" href="#">
                            <b>Eagle Eye Limited</b> <br /> Phone: 0000000000
                        </a>
                    </li>
                    <li>
                        <a class="hvr-shutter-in-horizontal" href="#">
                            <b>Eagle Eye Limited</b> <br /> Phone: 0000000000
                        </a>
                    </li>
                    <li>
                        <a class="hvr-shutter-in-horizontal" href="#">
                            <b>Eagle Eye Limited</b> <br /> Phone: 0000000000
                        </a>
                    </li>
                    <li>
                        <a class="hvr-shutter-in-horizontal" href="#">
                            <b>Eagle Eye Limited</b> <br /> Phone: 0000000000
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>

</div>