<div class="col-lg-3 col-md-4 col-sm-6">
    <aside class="sidebar">
        <div class="sidebar-widget popular-posts">
            <div class="sidebar-title">
                <h2>NZNS Publication: Saugat</h2>
            </div>
            <article class="post">
                <figure class="post-thumb">
                    <a href="#"><img src="~/Contents/images/resource/post-thumb-1.jpg" alt=""></a>
                </figure>
                <h4><a href="#"><b>Saugat Volume 11, 2017</b></a></h4>
                <div class="post-info"><div class="widget sidebar-widget downloads">
    <ul><li> <a href="#"><span class="icon fa fa-file-pdf-o"></span> Download</a></li></ul>
</div></div>
            </article>
            
            <article class="post">
                <figure class="post-thumb">
                    <a href="#"><img src="~/Contents/images/resource/post-thumb-1.jpg" alt=""></a>
                </figure>
                <h4><a href="#"><b>Saugat Volume 11, 2017</b></a></h4>
                <div class="post-info">
                    <div class="widget sidebar-widget downloads">
                        <ul><li> <a href="#"><span class="icon fa fa-file-pdf-o"></span> Download</a></li></ul>
                    </div>
                </div>
            </article>
            <article class="post">
                <figure class="post-thumb">
                    <a href="#"><img src="~/Contents/images/resource/post-thumb-1.jpg" alt=""></a>
                </figure>
                <h4><a href="#"><b>Saugat Volume 11, 2017</b></a></h4>
                <div class="post-info">
                    <div class="widget sidebar-widget downloads">
                        <ul><li> <a href="#"><span class="icon fa fa-file-pdf-o"></span> Download</a></li></ul>
                    </div>
                </div>
            </article>
            </div>
        <div class="sidebar-widget popular-posts">
            <div class="sidebar-title">
                <h2>Upcomming Events</h2>
            </div>
            <article class="post">
                <figure class="post-thumb">
                    <a href="#"><img src="~/Contents/images/resource/post-thumb-1.jpg" alt=""></a>
                </figure>
                <h4><a href="#">Event 1</a></h4>
                <div class="post-info">May 20, 2016 </div>
            </article>
            <article class="post">
                <figure class="post-thumb">
                    <a href="#"><img src="~/Contents/images/resource/post-thumb-1.jpg" alt=""></a>
                </figure>
                <h4><a href="#">Event 1</a></h4>
                <div class="post-info">May 20, 2016 </div>
            </article>
            <article class="post">
                <figure class="post-thumb">
                    <a href="#"><img src="~/Contents/images/resource/post-thumb-1.jpg" alt=""></a>
                </figure>
                <h4><a href="#">Event 1</a></h4>
                <div class="post-info">May 20, 2016 </div>
            </article>
        </div>
    </aside>
</div>
